{% extends "base.html" %}

{% block page_content %}

<div class="container">

    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
          <div class="row">
            <div class="col-md-12" align="center" >
                <h1>
                    IEM Katowice 2019: confira a tabela de jogos e resultados dos jogos do Major de CS:GO
                </h1>
  <br><br>
                <p align="Left">
                    Campeonato mundial de Counter-Strike: Global Offensive na Polônia é disputado entre os dias 13 de fevereiro e 3 de março, com brasileiras MIBR e FURIA. 
                </p>
                <img src="{{url_for('static', filename='imgpag2.jpg')}}">
  <br><br>
                <p align="Left">
                    A IEM Katowice, primeiro Major de Counter-Strike: Global Offensive (CS:GO) de 2019, começa no dia 13 de fevereiro e vai até 3 de março, em Katowice, Polônia. Na primeira fase, os times que se classificaram pelos quatro Minors regionais, como a brasileira FURIA, se juntam aos times que não conseguiram status de Legend no Major de Londres e brigam por oito vagas no próximo palco, o Legends Stage. Nessa etapa, os classificados enfrentam times do escalão máximo atual do CS:GO, como MIBR e Astralis, a partir do dia 20 deste mês.
                </p>
  
                    <p align="Left">
                        A IEM Katowice reúne um total de 24 times e dará US$ 1 milhão (R$ 3,7 milhões) no total. O grande vencedor leva para casa metade do prêmio. A Astralis, da Dinamarca, é considerada o time favorito, após ter ganhado dez troféus em 2018.
                        Essa será apenas a segunda vez que dois times brasileiros disputarão um Major de CS:GO. A primeira vez foi no PGL Major Cracóvia 2017, também na Polônia, torneio que contou com a participação da SK Gaming e da Immortals.
                    </p>
              
                  
  <br> <br>
                    <h1>Challengers Stage</h1>
  <br>			
                    <p align="Left">
                        Nessa primeira fase, as equipes que se classificaram pelos Minors enfrentam as que tiveram pior desempenho no último campeonato mundial de CS:GO (FACEIT Major Londres). Pela primeira vez, os confrontos da primeira rodada foram baseados no feedback dos jogadores. A IEM Katowice encarregou os próprios times de ranquearem os adversários. Dessa forma, o torneio gerou uma lista de 1 a 16 de acordo com o ranking geral. O primeiro enfrenta o último, o segundo joga contra o 15º, e assim sucessivamente.
                        O formato de disputa é o sistema suíço, em que um time precisa vencer três partidas para avançar. Três derrotas significam a eliminação. A outra novidade, é que há mais séries melhor de três mapas (MD3) em Katowice
                    </p>
  
                    <h3>Promesa Brasileira</h3>
  
                    <p align="Left">
                        A FURIA disputou o Minor das Américas e conseguiu uma classificação improvável, ao bater a Envy por 2 a 0 no jogo decisivo. Na seletiva para o Major, o time perdeu apenas para a NRG, equipe considerada favorita e que ocupa a sexta colocação no ranking da "HLTV", site especializado em CS:GO.Apesar de concentrar grande talento nas mãos de Yuri "yuurih" e Kaike "KSCERATO", a FURIA possui um sistema de jogo que abre espaço para todos os jogadores brilharem. Foi assim no Minor das Américas, quando Rinaldo "ableJ" e Vinicius "VINI" fizeram partidas decisivas.
                    </p>
                    <img src="{{url_for('static', filename='imgtimeF.jpg')}}">
  <br><br>
                    <h1>Legends</h1>
  
                    <p align="Left">Na segunda fase, entram os times que conquistaram o status de "legends" no último Major de 2018, em Londres. Por terem ficado entre os oito melhores times da competição, eles não precisam entrar na primeira fase em Katowice.</p>
  <br><br>
                    <h1>Grande promessa para o País</h1>
                    <p align="Left">
                Após a experiência com jogadores americanos, a MIBR decidiu apostar em uma line-up 100% brasileira e contratou nomes que já tinham jogado com Gabriel "FalleN", Fernando "fer" e Marcelo "coldzera": Epitácio "TACO", João "felps" e o técnico Wilton "zews". A equipe não participou de nenhum campeonato antes da IEM Katowice, passando apenas por um boot camp em Madri, na Espanha.
                      Como todos no time já jogaram juntos (na SK Gaming, em 2017), é possível que a MIBR seja uma equipe mais coesa em 2019. Em entrevista para a "HLTV", o entry fragger TACO disse que não ter jogado nenhum torneio esse ano pode ajudar no Major.
                      As pessoas não sabem como nós vamos jogar, então isso é uma vantagem para nós. Não acho que nós precisamos jogar torneios, se todos no nosso time já disputaram mais de 30 ou 40 torneios em toda a carreira. Estamos aproveitando esse período de treinos para criar coisas novas - declarou.
                      A chegada de zews também pode causar impacto imediato. Ele é um dos melhores treinadores de CS:GO e é capaz de ajudar os jogadores a ganharem algum round difícil, ou acalmá-los durante as pausas.</p>
                    <img src="{{url_for('static', filename='imgtimeM.jpg')}}">
            </div>                
{% endblock %}


