{% extends "base.html" %}

{% block page_content %}

<div class="container">

    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
          <div class="row">
            <div class="col-md-12" align="center" >
                <h1>
                    Valve toma medidas contra site de Trade Skins.
                </h1>
                <img src="{{url_for('static', filename='imgtoxico.png')}}">
  <br><br>
                <p align="Left">
                    A Valve notificou, na manhã desta quarta-feira (20), mais de 23 sites de apostas em Counter-Strike: Global Offensive e DotA 2, para que eles deixem de usar contas do Steam para as operações entre usuários. A medida foi tomada depois que vários youtubers famosos foram envolvidos em escândalos nas últimas semanas, forçando o estúdio a tomar providências quanto a esse mercado que já estava estimado em milhões de dólares em jogos virtuais de sorte e azar.
                        Trevor “TmarTn” Martin, Tom “ProSyndicate” Cassell e James "PhantomL0rd" Varga são algumas das celebridades que se envolveram recentemente com as suspeitas referentes às apostas de skins. Todos promoveram um site próprio desse ramo sem revelar que eram os donos reais, despertando dúvidas na comunidade.
                        PhantomL0rd, que realizava transmissões ao vivo das suas apostas, foi banido do TwitchTV na última terça-feira (19) pela sua operação com o próprio site de apostas.
                        No email destinado aos donos, a Valve explica que os sites estão usando contas do Steam para efetuar as operações de troca de itens e que isso viola os termos de uso da plataforma. “O Acordo de Assinante do Steam está sob a licença de pessoas físicas e uso apenas não comercial”, explicou a empresa, detalhando a violação aos usuários e solicitando que eles fechem as contas dentro do prazo de dez dias.
                </p>
                <img src="{{url_for('static', filename='imgskins2.png')}}">
                
  <br><br>
              <p align="Left">
                  Os seguintes sites foram notificados pela Valve:
  
                  <ul align="Left">
                      <li>Csgolounge.com<br></li>
                      <li>Csgobig.com<br></li>
                      <li>Csgostrong.com<br></li>
                      <li>Csgofast.com<br></li>
                      <li>Csgodouble.com<br></li>
                      <li>Csgosweep.com<br></li>
                      <li>Csgo500.com<br></li>
                      <li>Csgomassive.com<br></li>
                      <li>Csgocosmos.com<br></li>
                      <li>Csgobattle.com<br></li>
                      <li>Csgocasino.net<br></li>
                      <li>Skins2.com<br></li>
                      <li>Csgo2x.com<br></li>
                      <li>Csgopot.com<br></li>
                      <li>Csgohouse.com<br></li>
                      <li>Csgowild.com<br></li>
                      <li>Csgoatse.com<br></li>
                      <li>Bets.gg<br></li>
                      <li>Csgodiamonds.com<br></li>
                      <li>Societylogin.com<br></li>
                      <li>Dota2lounge.com<br></li>
                      <li>Csgocrash.com<br></li>
                      <li>Csgolotto.com<br></li>
                  </ul>
              </p>
  <br><br>
  
              <h3>Alguns destes sites responderam nas redes sociais</h3>
              <p align="Left">O CS Go Wild já fixou uma mensagem em seu Twitter avisando que os “sites de apostas no CS:GO estão dizendo adeus”, possivelmente indicando o término das suas ações. Enquanto isso, o CSGO2x anunciou que “fará mudanças nas próximas semanas” para ajustar as suas operações à nova política da Valve. Possívelmente os sites que conseguirem sobreviver a este período terão que se adaptar de alguma as novas regras imposta pela Valve. Agora o que nos resta é esperar e torcer para eles não acabarem. </p>
  
              <img src="{{url_for('static', filename='imgskin3.png')}}">

            </div>  
{% endblock %}
