{% extends "base.html" %}


{% block page_content %}

<div class="container">

    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
          <div class="row">
            <div class="col-md-12" align="Left" >
  
                <h1>
                    Mapas de Competitivo
                </h1>
  
  <hr color="green">
  <br><br>
                <div class="card-group">
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa1.jpg')}}" class="card-img-top" alt="Inferno">
                    <div class="card-body">
                      <h5 class="card-title">Inferno</h5> 
                    </div>
                  </div>
  
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa2.jpg')}}" class="card-img-top" alt="Train" width="600px" height="190px">
                    <div class="card-body">
                      <h5 class="card-title">Train</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa3.jpg')}}" class="card-img-top" alt="Mirage">
                    <div class="card-body">
                      <h5 class="card-title">Mirage</h5>
                    </div>
                  </div>
              </div>
  <!-- Segunda Div de imagens -->
  
              <div class="card-group">
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa4.jpg')}}" class="card-img-top" alt="Nuke">
                    <div class="card-body">
                      <h5 class="card-title">Nuke</h5> 
                    </div>
                  </div>
  
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa5.jpg')}}" class="card-img-top" alt="Overpass">
                    <div class="card-body">
                      <h5 class="card-title">Overpass</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa6.png')}}" class="card-img-top" alt="Cache">
                    <div class="card-body">
                      <h5 class="card-title">Cache</h5>
                    </div>
                  </div>
              </div>
  
  <!-- Terceira Div de imagens -->
              <div class="card" style="width: 21rem;">
                <img src="{{ url_for('static', filename='imgmapa7.jpg')}}" class="card-img-top" alt="Dust II">
                <div class="card-body">
                  <h5 class="card-title">Dust II</h5> 
                </div>
              </div>
  
  
  <br><br>
              <h1> Mapas da Reserva</h1>
  <hr color="green">
  <br><br>
              <div class="card-group">
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa8.jpg')}}" class="card-img-top" alt="Vertigo">
                    <div class="card-body">
                      <h5 class="card-title">Vertigo</h5> 
                    </div>
                  </div>
  
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa9.jpg')}}" class="card-img-top" alt="Cobblestone" width="600px" height="190px">
                    <div class="card-body">
                      <h5 class="card-title">Cobblestone</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa10.jpg')}}" class="card-img-top" alt="Canals">
                    <div class="card-body">
                      <h5 class="card-title">Canals</h5>
                    </div>
                  </div>
              </div>
  <!-- Segunda Div de imagens -->
  
              <div class="card-group">
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa11.jpg')}}" class="card-img-top" alt="Zoo" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Zoo</h5> 
                    </div>
                  </div>
  
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa12.jpg')}}" class="card-img-top" alt="Abbey" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Abbey</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa13.jpg')}}" class="card-img-top" alt="Biome" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Biome</h5>
                    </div>
                  </div>
              </div>
  <br><br>
              <h1> Mapas de Reféns</h1>
  <hr color="green">
  <br><br>
              <div class="card-group">
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa14.png')}}" class="card-img-top" alt="Militia" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Militia</h5> 
                    </div>
                  </div>
  
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa15.jpg')}}" class="card-img-top" alt="Agency"  height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Agency</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='imgmapa16.png')}}" class="card-img-top" alt="Office" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Office</h5>
                    </div>
                  </div>
              </div>
  <!-- Segunda Div de imagens -->
  
                <div class="card-group">
                  <div class="card" style="width: 21rem;">
                    <img src="{{ url_for('static', filename='imgmapa17.png')}}" class="card-img-top" alt="Italy" height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Italy</h5> 
                    </div>
                  </div>
  
                  <div class="card" style="width: 21rem;">
                    <img src="{{ url_for('static', filename='imgmapa18.png')}}" class="card-img-top" alt="Assault"  height="211px">
                    <div class="card-body">
                      <h5 class="card-title">Assault</h5>
                    </div>
                  </div>
                  </div>
            </div>
{% endblock %}
