{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
          <div class="row">
            <div class="col-md-12"  >
                <h1 align="center">
                    Counter Strike: Global Offensive.
                </h1>
  <br><br>
                <p align="Left">
                    Counter Strike: Global Offensive é um reboot do clássico Counter Strike de 1999. O game está disponível para Xbox One, PS3, Xbox 360 e Steam (PC, Mac e Linux), e traz tudo o que seu antecessor tinha, mas agora com a adição de vários elementos mais modernos. Counter Strike: Global Offensive Free Edition, uma versão gratuita e offline do game, que inclui partidas contra bots e possiblidade de assistir partidas profissionais, também está disponível para download via Steam. 
  <br>
                      <p>
                          O cenário competitivo do game é um dos mais fortes no Brasil e conta com equipes consagradas mundialmente, como a MIBR, que conta com Gabriel “FalleN” Toledo e Marcelo "coldzera" David.
                      </p>
  
                </p>
                        <p align="center"><img src="{{url_for('static' , filename='imgcs1.jpeg')}}" align="center"></p>
  <br><br>
                    <p align="Left">
                        Em Counter Strike: Global Offensive você poderá encarar uma das mais cruas experiências de um FPS (First Person Shooter). A simplicidade do original ainda está presente na nova versão, que obriga todos os jogadores a contar somente com a sua habilidade para dominar os campos de batalha.
                    </p>
  <br><br>
  
                   <h1 align="Left">Jogabilidade</h1>
  <br><br>		
                    <p align="Left">Em CS:GO o importante é ter boa mira e saber se movimentar bem. O jogo também exige bastante experiência e dedicação, habilidades que irão lhe ensinar quando atacar na hora certa e quando é o momento de recuar e se esconder. Além de que é necessário uma ótima comunicação com seu time.
                    A essência de CS continua lá. Em quase todos os cenários existem dois times, os terroristas mascarados e as forças armadas de resposta. Os três grandes objetivos clássicos também estão presentes: bomba, refém e assassinato. No primeiro, os contraterroristas têm que impedir a explosão de bombas, colocadas em locais específicos pelos seus adversários.
                    No segundo, como o nome deixa claro, os contraterroristas devem recuperar os reféns que foram capturados. Por fim, no modo assassinato, os terroristas devem assassinar um jogador específico e os heróis devem impedir que isso aconteça..</p>
  
                   <p align="center"><img src="{{url_for('static' , filename='imgcs2.jpg')}}"></p>
  <br><br>
                   <h1 align="Left">Variações</h1>
  <br>
                    <p align="Left">
                        Apesar da simplicidade, Counter-Strike: Global Offensive possui gráficos atraentes, que realçam o aparente realismo das situações mostradas no jogo. Longe de estar entre os melhores visuais da indústria, o título da Valve dá conta do recado, mas não chega a conseguir impressionar as plateias modernas.
                        Além de um novo visual, Counter-Strike: Global Offensive contém novos mapas, personagens e armas, assim como versões atualizadas de todos os conteúdos do CS clássico (espere encontrar mapas tradicionais como o de_dust e outros velhos conhecidos). Entre as novidades também estão os novos modos de jogo, a criação de partidas (matchmaking),os placares para os líderes e muito mais.
                    </p>
                    <p>
                    Para os fãs do jogo, é uma ótima oportunidade de se divertir com essa nova versão, então por isso <big>Venha Conhecer!</big> 	
                    </p>
  <br><br>
          </div>



{% endblock %}
